#privacy_policy_cookies_notification {
    display: none;
    border: 2px solid #000;
    height: 200px;
    width: 300px;
    z-index: 999;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #fff;
    margin-right: 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.50);
}

#privacy_policy_cookies_notification .top {
    height: 30px;
    text-align: right;
    line-height: 30px;
}

#privacy_policy_cookies_notification .bottom {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

#privacy_policy_cookies_notification .bottom .close {
    margin: 10px;
    font-size: 12px;
}

#privacy_policy_cookies_notification .top .close {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 5px;
    cursor: pointer;
}